<!DOCTYPE html>
<html lang="en-za">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Themba Tswai</title>

    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta content="Marothi Mahlake" name="author" />
    <meta
      content="Pusha iPassion! Themba is the epitome of this Kasi expression. From Kagiso in the west of
Johannesburg, Themba is a self-taught graphic designer with an innate passion for advertising.

He believes that “if you put your mind to something you will succeed.”"
      name="description"
    />
    <link rel="stylesheet" href="font-awesome/css/all.min.css" />
    <!--<link rel="stylesheet" href="font-awesome/css/fontawesome.min.css" />
        <link rel="stylesheet" href="font-awesome/css/solid.min.css" />
        <link rel="stylesheet" href="font-awesome/css/brands.min.css" />-->
    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/material-kit.css" rel="stylesheet" />
    <!-- Fonts and icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- Google Fonts -->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />

    <script src="https://www.google.com/recaptcha/api.js?render=6LcwwKgbAAAAANlXqwDFWPGr_sKwRRb3YhCoXW8d"></script>

    <style>
      @media (max-width: 376) {
        #logo {
          margin: 0.5em;
        }
      }

      @media screen and (max-width: 767.99px) {
        .bullet-item,
        .nav-bullet {
          display: none !important;
        }

        .ParallaxVideo {
          height: 70vh;
          padding: 0;
          margin: 0;
        }

        .ParallaxVideo video {
          /* Setting width & height to auto prevents the browser from stretching or squishing the video */
          width: auto;
          height: 100%;

          object-fit: cover;

          /* Center the video */
          position: absolute;
          z-index: -1;
        }

        #tswai-banner {
          border: 0 !important;
          border-right: 0;
        }
      }

      #tswai-banner {
        border-right: 2px solid #7b6054;
      }

      .ParallaxVideo {
        height: 100vh;
      }
      .ParallaxVideo video {
        box-shadow: 0 2px 8px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 15px 0 rgba(153, 153, 153, 0.12);
        object-fit: cover;
        height: 100%;
        width: auto;
        position: fixed;
        top: 0;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      footer a,
      footer a:visited {
        color: #fff;
      }

      footer a:hover {
        color: rgb(244, 244, 244);
        text-decoration: none;
      }
      .nav-bullet .navbar-text {
        font-weight: bolder;
        font-size: 25pt !important;
        top: -0.3rem;
      }
    </style>
  </head>

  <body>
    <!-- Navbar will come here -->
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#navigation-example"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a
            class="navbar-brand"
            href="https://www.behance.net/thembatswai"
            target="_blank"
            title="Themba Tswai on Behance"
          >
            <img
              src="img/Brand.png"
              alt="Themba Tswai Portfolio"
              style="width: 215px; height: auto; margin-top: auto; margin: auto"
            />
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a
                href="https://www.linkedin.com/in/themba-tswai"
                target="_blank"
                rel="noopener noreferrer"
                >LINKEDIN</a
              >
            </li>
            <li class="bullet-item">
              <a class="nav-bullet navbartext" href="javascript:void()"
                >&bull;</a
              >
            </li>
            <li>
              <a
                href="https://instagram.com/themba_tswai"
                target="_blank"
                rel="noopener noreferrer"
                >INSTAGRAM</a
              >
            </li>
            <li class="bullet-item">
              <a class="nav-bullet navbartext" href="javascript:void()"
                >&bull;</a
              >
            </li>
            <li>
              <a
                href="https://twitter.com/themba_tswai"
                target="_blank"
                rel="noopener noreferrer"
                >TWITTER</a
              >
            </li>
            <li class="bullet-item">
              <a class="nav-bullet navbartext" href="javascript:void()"
                >&bull;</a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/channel/UCuFpMs-f1CSOxs1_IoCedjQ"
                target="_blank"
                rel="noopener noreferrer"
                >YOUTUBE</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end navbar -->

    <!-- Banner Video -->
    <div class="ParallaxVideo">
      <video autoplay playsinline controls="false" muted loop>
        <source src="/videos/Banner.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="wrapper">
      <!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
      <div
        class="main container-fluid"
        style="margin-top: 70px; min-height: 90vh"
      >
        <div class="container" style="padding: 1em">
          <!-- here you can add your content -->
          <div class="row" style="height: 100%">
            <div
              id="tswai-banner"
              class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
              style="height: 100%; margin: 0"
            >
              <!-- Logo Large -->
              <a
                href="https://www.behance.net/thembatswai"
                target="_blank"
                title="Themba Tswai on Behance"
              >
                <img
                  class="img-responsive"
                  id="logo"
                  src="/img/T-Tswai-Web-Banner.png"
                  alt="HPC Logo"
                  style="margin-left: auto; margin-right: auto; padding: 5rem"
                />
              </a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="col-md-offset-1 col-md-11">
                <form
                  id="contact-form"
                  action="."
                  class="form-horizontal"
                  method="post"
                >
                  <h3 style="color: #58463e">GET A QUOTE</h3>
                  <!-- Name Field -->
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      placeholder="NAME & SURNAME"
                    />
                    <span id="name-error" class="text-danger"></span>
                  </div>

                  <!-- Email Field -->
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="EMAIL ADDRESS"
                    />
                    <span id="email-error" class="text-danger"></span>
                  </div>

                  <!-- Enquiry Field -->

                  <p style="font-size: 8.5pt; color: #5c4b44">
                    <strong style="color: #5c4b44"
                      >WHAT WOULD YOU LIKE ME TO HELP YOU WITH?</strong
                    >
                  </p>
                  <div class="form-group">
                    <div class="radio">
                      <label>
                        <input
                          type="radio"
                          name="enquiry"
                          value="Graphic Design"
                        />
                        Graphic Design
                      </label>
                    </div>

                    <div class="radio">
                      <label>
                        <input
                          type="radio"
                          name="enquiry"
                          value="Corporate Branding"
                        />
                        Corporate Branding
                      </label>
                    </div>

                    <div class="radio">
                      <label>
                        <input
                          type="radio"
                          name="enquiry"
                          value="Motion Design"
                        />
                        Motion Design
                      </label>
                    </div>

                    <div class="radio">
                      <label>
                        <input
                          type="radio"
                          name="enquiry"
                          value="Illustrations"
                        />
                        Illustrations
                      </label>
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" name="enquiry" value="Other" />
                        Other
                      </label>
                    </div>
                  </div>

                  <!-- Message Field -->
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      placeholder="WRITE THE MESSAGE IN HERE"
                      id="message"
                      rows="7"
                    ></textarea>
                    <span id="message-error" class="text-danger"></span>
                  </div>

                  <!-- Submit Button -->
                  <div class="form-group">
                    <h4 style="font-size: 14pt; bottom: -4em">
                      <!-- Social Mediums -->
                      <a
                        href="https://www.linkedin.com/in/themba-tswai"
                        target="_blank"
                      >
                        <i class="fab fa-linkedin"></i>
                      </a>
                      &nbsp;
                      <a
                        href="http://instagram.com/themba_tswai"
                        target="_blank"
                      >
                        <i class="fab fa-instagram"></i>
                      </a>
                      &nbsp;
                      <a
                        href="https://twitter.com/themba_tswai"
                        target="_blank"
                      >
                        <i class="fab fa-twitter-square"></i>
                      </a>
                      &nbsp;
                      <a
                        href="https://dribbble.com/Themba_Tswai"
                        target="_blank"
                      >
                        <i class="fab fa-dribbble"></i>
                      </a>
                    </h4>

                    <div>
                      <!-- The Button -->
                      <button
                        type="submit"
                        id="btn-submit"
                        class="btn btn-primary pull-right"
                        style="top: -4.5em"
                      >
                        SEND
                      </button>
                    </div>

                    <!-- Loader -->
                    <div class="form-group">
                      <div
                        id="loader"
                        class="
                          col-lg-12 col-md-12 col-sm-12 col-xs-12
                          text-center
                        "
                        style="
                          text-align: center;
                          display: none;
                          margin-bottom: 0.2em;
                        "
                      >
                        <img
                          alt="Loading"
                          src="img/loader/loading.gif"
                          class="img-responsive"
                          style="
                            width: 20px;
                            height: auto;
                            margin-left: auto;
                            margin-right: auto;
                          "
                        />
                      </div>
                    </div>
                    <!-- Response message -->
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div
                          id="feedback"
                          class="alert alert-success"
                          style="display: none"
                        ></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer
        style="
          background-color: #7b6054;
          width: 100%;
          color: #ddd2cc;
          z-index: 3 !important;
        "
      >
        <div class="container">
          <div class="copyright text-center">
            <a
              href="http://msdc.africa"
              target="_blank"
              rel="noopener noreferrer"
              ><strong
                >&copy; MSDC Inc (Pty) Ltd
                <script>
                  document.write(new Date().getFullYear());
                </script>
                |</strong
              ></a
            >
            All rights reserved.
          </div>
        </div>
      </footer>
    </div>

    <!--   Core JS Files   -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/material.min.js" type="text/javascript"></script>
    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="js/material-kit.js" type="text/javascript"></script>
    <script>
      $(document).ready(() => {
        document
          .getElementById("contact-form")
          .addEventListener("submit", runVerification);
        // Form fields.
        const nameField = $("#name");
        const emailField = $("#email");
        const enquiryField = document.getElementsByName("enquiry");
        const messageField = $("#message");

        // Validation error elements.
        const nameError = $("#name-error");
        const emailError = $("#email-error");
        const messageError = $("#message-error");

        // This variable will be used to obtain the value of the selected radio button.
        let selectedEnquiryValue;

        // This boolean variable will be used to enforce the validity of the form.
        let isValid = false;

        function runVerification(e) {
          e.preventDefault();

          // Find the value of the selected radio button.
          for (i = 0; i < enquiryField.length; i++) {
            if (enquiryField[i].checked) {
              selectedEnquiryValue = enquiryField[i].value;
            }
          }
          validateName();
          validateEmail();
          validateMessage();

          if (isValid) {
            $("#loader").fadeIn();
            runCaptcha();
          }
        }

        function runCaptcha() {
          grecaptcha
            .execute("6LcwwKgbAAAAANlXqwDFWPGr_sKwRRb3YhCoXW8d", {
              action: "",
            })
            .then(function (token) {
              const captcha = token;
              sendData(
                nameField.val(),
                emailField.val(),
                selectedEnquiryValue,
                messageField.val(),
                captcha
              );
            });
        }

        function sendData(name, email, enquiry, message, captcha) {
          const info = JSON.stringify({
            name: name,
            email: email,
            enquiry: enquiry,
            message: message,
            captcha: captcha,
          });

          fetch("/contact", {
            method: "POST",
            headers: {
              Accept: "application/json, text/plain, */*",
              "Content-type": "application/json",
            },
            body: info,
          })
            .then((res) => res.json())
            .then((data) => {
              $("#feedback").html(`<p>${data.msg}</p>`);
              $("#loader").fadeOut();
              $("#feedback").fadeIn();
              document.querySelector("#contact-form").reset();
            });
        }

        /** Validates the name. */
        function validateName() {
          try {
            if (/.{2}/.test(nameField.val()) == false) {
              throw "Please enter your name.";
            } else if (/([\D])/.test(nameField.val()) == false) {
              throw "A name must contain letters only.";
            } else {
              isValid = true;
              nameError.text("");
              nameError.hide();
            }
          } catch (msg) {
            isValid = false;
            nameError.text(msg);
            nameField.focus();
            nameField.select();
            nameError.show();
          }
        }

        /** Validates the email address. */
        function validateEmail() {
          var emailSyntax =
            /^[_\w\-]+(\.[_\w\-]+)*@[\w\-]+(\.[\w\-]+)*(\.[\D]{2,6})$/;
          try {
            if (/.{7}/.test(emailField.val()) == false) {
              throw "The email must contain 7 characters or more.";
            } else if (emailSyntax.test(emailField.val()) == false) {
              throw "Please enter a valid email address.";
            } else {
              isValid = true;
              emailError.text("");
              emailError.hide();
            }
          } catch (msg) {
            isValid = false;
            emailError.text(msg);
            emailField.focus();
            emailField.select();
            emailError.show();
          }
        }

        /** Validates the message field. */
        function validateMessage() {
          isValid = false;
          try {
            if (/.{20}/.test(messageField.val()) == false) {
              throw "The message must at least contain 20 characters.";
            } else {
              isValid = true;
              messageError.text("");
              messageError.hide();
            }
          } catch (msg) {
            isValid = false;
            messageError.text(msg);
            messageField.focus();
            messageField.select();
            messageError.show();
          }
        }
      });
    </script>
  </body>
</html>
